In [1]:
price = 5

In [5]:
print('Hello, my name is John Doe')

Hello, my name is John Doe

In [2]:
price

5

In [4]:
type(1)

int

In [2]:
tax = 2
price = 5

In [3]:
print(price + tax)

7

In [9]:
price_list = [2.66, 4.99, 12.33, None, 'Discounted']
print_list_type = type(price_list)
print_list_type

list

### Tax Printing Code Change

For your first task, I’d like you to change the code that adds a dollar in tax to our price before printing. 
The tax will no longer be fixed at one dollar, so:
* Create a ‘tax’ variable and assign it a value of 2
* Create a ‘total’ variable equal to ‘price’ + ‘tax’
* Print ‘total’

In [8]:
price = 5
tax = 2
total = price + tax
print(total)

7

In [10]:
%who

price	 price_list	 print_list_type	 tax	 total

In [11]:
%whos

Variable          Type    Data/Info
-----------------------------------
price             int     5
price_list        list    n=5
print_list_type   type    <class 'list'>
tax               int     2
total             int     7

In [14]:
# Converting from float to int
straw = 10.99
fixed_straw = int(straw)
fixed_straw

10

In [16]:
# Converting int to float
stars = 15
fixed_stars = float(stars)
fixed_stars

15.0

In [18]:
# strings into floats
stringo = '1.2'
fixed_stringo = float(stringo)
fixed_stringo, type(fixed_stringo)

(1.2, float)

In [24]:
my_string = '3456'
my_float = 3.14
my_int = 2

new_float = int(my_float)
new_string = int(my_string)
type(new_string), type(new_float)

(int, int)

In [25]:
new_float * new_string

10368

In [26]:
number_x = 3.579
round(number_x)

4

In [28]:
max(5, 3, 7)
golf_scores = (-3, 2, 30)
min(golf_scores), max(golf_scores)

(-3, 30)

In [2]:
movie ='Joe\'s Cabin'
print(movie)

Joe's Cabin

In [5]:
movie2 = '''Joe's Movie. 
The Best Movie!'''
print(movie2)

Joe's Movie.
he Best Movie!

In [24]:
movie ='Joe\'s Cabin '
review = 'WAS A GOOD MOVIE'
shownow = movie + review.lower()
print(shownow)

Joe's Cabin was a good movie

In [25]:
# negative string indexing
review[-1]

'E'

In [26]:
# indexing strings 
movie[0]

'J'

### Len Function

In [1]:
len('snowboard')

9

In [2]:
len(['blue', 'color','price'])

3

### String Methods

In [21]:
movie = "It's a Mega Blockbuster!."
# movie.upper()
movie.rstrip('!.')
# movie.split("'")
movie.lower().replace("'", " ")

'it s a mega blockbuster!.'

In [24]:
movie = "It's a Mega Blockbuster!."
movie.lower().replace("!.", ' A+')

"it's a mega blockbuster A+"

### F strings

In [3]:
movie = "It's a Mega Blockbuster!."
print(f"My favorite Movie is {movie.upper()}")

My favorite Movie is IT'S A MEGA BLOCKBUSTER!.

In [2]:
### Boolean Operators Practice
True * 10

10

In [4]:
'word' == 'word'

True

In [5]:
'word' == 'WORD'

False

In [6]:
'word' == 'WORD'.lower()

True

In [7]:
len('word') > len('words')

False

In [8]:
len('word') < len('words')

True

In [9]:
'or' in 'word'

True

In [10]:
'nor' in 'word'

False

In [13]:
my_list = [ 1, 2, 3]
1 in my_list and 3 in my_list

True

In [17]:
5 in my_list and 1 in my_list

False

In [19]:
5 in my_list or ('nor' in 'word' or 'd' in 'word') # use paranthesis

True

In [9]:
first_name ='ada'
last_name = 'lovelace'
full_name = f"{first_name} {last_name}"
print(full_name.title()) # Proper Name
print(full_name[0].upper(),full_name[4].upper()) # Capitalize the first value

Ada Lovelace
A L

In [12]:
variable_1 = "C00051"
int(variable_1.strip('C'))

51

In [13]:
variable_1 = "C00051"

if int(variable_1.strip('C')) <= 100:
    print('You get a small price!')
elif int(variable_1.strip('C')) <= 50:
    print('You get a big price!')
else:
    print('No luck for you')
print('Back to work!')

You get a small price!
Back to work!

In [11]:
import numpy as np
A1 = np.array([1,2,3,4])
A2 = np.array([[1,2,3,4],[5,6,7,8]])
print(A2)

[[1 2 3 4]
 [5 6 7 8]]

### List / Modifying List

In [1]:
my_list = ['Item1', 'Item2', 'Item3']
print(my_list)
my_list[1] = 'ItemX' # Items can be changed no added
print(my_list)

['Item1', 'Item2', 'Item3']
['Item1', 'ItemX', 'Item3']

In [ ]:
msg1 = ['Item1', 'Item2', 'Item3']
del msg1[1:3]
msg1

['Item1']

In [11]:
msg1 = ['Item1', 'Item2', 'Item3']
msg1.remove('Item1')
msg1

['Item2', 'Item3']

In [17]:
customer_ids = ['C00001', 'C00003', 'C00005', 'C000010']
customer_ids
customer_ids[1] = 'C00004'

In [19]:
customer_ids.append('C000011')
customer_ids

['C00001', 'C00004', 'C00005', 'C000010', 'C000011']

In [23]:
# customer_ids = ['C00001', 'C00003', 'C00005', 'C000010']

customer_ids.insert(3, 'C00004')
customer_ids

['C00001', 'C00002', 'C00003', 'C00004', 'C00005', 'C000010']

In [26]:
new_customer_ids = ['C000011', 'C000012']

In [33]:
all_customers = customer_ids + new_customer_ids

In [34]:
all_customers = customer_ids + new_customer_ids
del all_customers[1]
all_customers

['C00001', 'C00003', 'C00004', 'C00005', 'C000010', 'C000011', 'C000012']

In [35]:
if 'C00001' in all_customers:
    all_customers.remove('C00005')
all_customers

['C00001', 'C00003', 'C00004', 'C000010', 'C000011', 'C000012']