In [1]:
price = 5

In [2]:
price

5

In [2]:
tax = 2
price = 5

In [3]:
print(price + tax)

7

In [9]:
price_list = [2.66, 4.99, 12.33, None, 'Discounted']
print_list_type = type(price_list)
print_list_type

list

### Tax Printing Code Change

For your first task, I’d like you to change the code that adds a dollar in tax to our price before printing. 
The tax will no longer be fixed at one dollar, so:
* Create a ‘tax’ variable and assign it a value of 2
* Create a ‘total’ variable equal to ‘price’ + ‘tax’
* Print ‘total’

In [8]:
price = 5
tax = 2
total = price + tax
print(total)

7

In [10]:
%who

price	 price_list	 print_list_type	 tax	 total

In [11]:
%whos

Variable          Type    Data/Info
-----------------------------------
price             int     5
price_list        list    n=5
print_list_type   type    <class 'list'>
tax               int     2
total             int     7

In [14]:
# Converting from float to int
straw = 10.99
fixed_straw = int(straw)
fixed_straw

10

In [16]:
# Converting int to float
stars = 15
fixed_stars = float(stars)
fixed_stars

15.0

In [18]:
# strings into floats
stringo = '1.2'
fixed_stringo = float(stringo)
fixed_stringo, type(fixed_stringo)

(1.2, float)

In [24]:
my_string = '3456'
my_float = 3.14
my_int = 2

new_float = int(my_float)
new_string = int(my_string)
type(new_string), type(new_float)

(int, int)

In [25]:
new_float * new_string

10368

In [26]:
number_x = 3.579
round(number_x)

4

In [28]:
max(5, 3, 7)
golf_scores = (-3, 2, 30)
min(golf_scores), max(golf_scores)

(-3, 30)

In [2]:
movie ='Joe\'s Cabin'
print(movie)

Joe's Cabin

In [5]:
movie2 = '''Joe's Movie. 
The Best Movie!'''
print(movie2)

Joe's Movie.
he Best Movie!

In [24]:
movie ='Joe\'s Cabin '
review = 'WAS A GOOD MOVIE'
shownow = movie + review.lower()
print(shownow)

Joe's Cabin was a good movie

In [25]:
# negative string indexing
review[-1]

'E'

In [26]:
# indexing strings 
movie[0]

'J'

### Len Function

In [1]:
len('snowboard')

9

In [2]:
len(['blue', 'color','price'])

3

### String Methods

In [21]:
movie = "It's a Mega Blockbuster!."
# movie.upper()
movie.rstrip('!.')
# movie.split("'")
movie.lower().replace("'", " ")

'it s a mega blockbuster!.'

In [24]:
movie = "It's a Mega Blockbuster!."
movie.lower().replace("!.", ' A+')

"it's a mega blockbuster A+"