In [1]:
# Load the pandas library
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
# Dataset URL  
diamonds_url = "https://raw.githubusercontent.com/TrainingByPackt/Interactive-Data-Visualization-with-Python/master/datasets/diamonds.csv"

In [3]:
# Reading the dataset
diamonds_df = pd.read_csv(diamonds_url)
diamonds_df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
diamonds_df.cut.unique() # unique values in cut column

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [5]:
diamonds_df.cut.value_counts() # count of each unique value in cut column

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [6]:
diamonds_df.color.unique() # unique values in color column

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [7]:
diamonds_df.clarity.unique() # unique values in clarity column

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [8]:
diamonds_df.shape # shape of the dataframe (rows, columns) = (53940, 10)

(53940, 10)

In [9]:
diamonds_df_specific_cols = pd.read_csv(diamonds_url, usecols=['carat','cut','color','clarity'])

In [10]:
diamonds_df.describe() # summary statistics of the dataframe

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [11]:
diamonds_df.describe(include=object) # summary statistics for categorical (object) columns

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [12]:
diamonds_df.info() # information about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [13]:
diamonds_low_df = diamonds_df.loc[diamonds_df['cut'] == 'Ideal'] # filter rows where cut is 'Ideal'(Case sensitive).  We obtain indices of rows that meet this criterion.
diamonds_low_df.head() # display the first 5 rows of the filtered dataframe

    carat    cut color clarity  depth  table  price     x     y     z
0    0.23  Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
11   0.23  Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
13   0.31  Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
16   0.30  Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
39   0.33  Ideal     I     SI2   61.8   55.0    403  4.49  4.51  2.78

In [14]:
# Ex. 3 Adding New Columsn to the DataFrame
diamonds_df['price_per_carat'] = diamonds_df['price'] / diamonds_df['carat'] # Adding a new column to the dataframe
diamonds_df.head() # Display the first 5 rows of the dataframe

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1417.391304
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1552.380952
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1421.739130
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1151.724138
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1080.645161

In [15]:
# Adding a new column to the dataframe based on a condition:
# Add a column based on the value in price_per_carat,
# say anything more than 3500 as high (coded as # 1)
# and anything less than 3500 as low (coded as 0).

diamonds_df['price_category'] = np.where(diamonds_df['price_per_carat'] > 3500, 1, 0) 
diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_category
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1417.391304,0
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1552.380952,0
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1421.739130,0
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1151.724138,0
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1080.645161,0

##### Applying Functions on DataFrame Columns

In [16]:
diamonds_df['price'] = diamonds_df['price'] * 1.3 # Increase the price of each diamond by 30%
diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_category
0,0.23,Ideal,E,SI2,61.5,55.0,423.8,3.95,3.98,2.43,1417.391304,0
1,0.21,Premium,E,SI1,59.8,61.0,423.8,3.89,3.84,2.31,1552.380952,0
2,0.23,Good,E,VS1,56.9,65.0,425.1,4.05,4.07,2.31,1421.739130,0
3,0.29,Premium,I,VS2,62.4,58.0,434.2,4.20,4.23,2.63,1151.724138,0
4,0.31,Good,J,SI2,63.3,58.0,435.5,4.34,4.35,2.75,1080.645161,0

In [17]:
import math
diamonds_df['rounded_price'] = diamonds_df['price'].apply(math.ceil) # Round the price to the nearest hundred
diamonds_df.head(10)

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_category,rounded_price
0,0.23,Ideal,E,SI2,61.5,55.0,423.8,3.95,3.98,2.43,1417.391304,0,424
1,0.21,Premium,E,SI1,59.8,61.0,423.8,3.89,3.84,2.31,1552.380952,0,424
2,0.23,Good,E,VS1,56.9,65.0,425.1,4.05,4.07,2.31,1421.739130,0,426
3,0.29,Premium,I,VS2,62.4,58.0,434.2,4.20,4.23,2.63,1151.724138,0,435
4,0.31,Good,J,SI2,63.3,58.0,435.5,4.34,4.35,2.75,1080.645161,0,436
5,0.24,Very Good,J,VVS2,62.8,57.0,436.8,3.94,3.96,2.48,1400.000000,0,437
6,0.24,Very Good,I,VVS1,62.3,57.0,436.8,3.95,3.98,2.47,1400.000000,0,437
7,0.26,Very Good,H,SI1,61.9,55.0,438.1,4.07,4.11,2.53,1296.153846,0,439
8,0.22,Fair,E,VS2,65.1,61.0,438.1,3.87,3.78,2.49,1531.818182,0,439
9,0.23,Very Good,H,VS1,59.4,61.0,439.4,4.00,4.05,2.39,1469.565217,0,440

In [18]:
import math
diamonds_df['rounded_price_to_100Multiple'] = diamonds_df['price'].apply(lambda x: math.ceil(x/100)*100) # Round the price to the nearest multiple of 100. Lambad Function
diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_category,rounded_price,rounded_price_to_100Multiple
0,0.23,Ideal,E,SI2,61.5,55.0,423.8,3.95,3.98,2.43,1417.391304,0,424,500
1,0.21,Premium,E,SI1,59.8,61.0,423.8,3.89,3.84,2.31,1552.380952,0,424,500
2,0.23,Good,E,VS1,56.9,65.0,425.1,4.05,4.07,2.31,1421.739130,0,426,500
3,0.29,Premium,I,VS2,62.4,58.0,434.2,4.20,4.23,2.63,1151.724138,0,435,500
4,0.31,Good,J,SI2,63.3,58.0,435.5,4.34,4.35,2.75,1080.645161,0,436,500

In [19]:
# User Defined Function to round the price to the nearest multiple of 100
import math

def round_up_to_nearest_100(x):
    return math.ceil(x / 100) * 100

diamonds_df['rounded_price_to_100Multiple'] = diamonds_df['price'].apply(round_up_to_nearest_100)

diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_category,rounded_price,rounded_price_to_100Multiple
0,0.23,Ideal,E,SI2,61.5,55.0,423.8,3.95,3.98,2.43,1417.391304,0,424,500
1,0.21,Premium,E,SI1,59.8,61.0,423.8,3.89,3.84,2.31,1552.380952,0,424,500
2,0.23,Good,E,VS1,56.9,65.0,425.1,4.05,4.07,2.31,1421.739130,0,426,500
3,0.29,Premium,I,VS2,62.4,58.0,434.2,4.20,4.23,2.63,1151.724138,0,435,500
4,0.31,Good,J,SI2,63.3,58.0,435.5,4.34,4.35,2.75,1080.645161,0,436,500

In [20]:
# Suppose we are interested in buying diamonds that have an Ideal cut and a color 
# of D (entirely colorless). This exercise is for adding a new column, desired to the 
# DataFrame, whose value will be yes if our criteria are satisfied and no if not satisfied. 

import seaborn as sns
import pandas as pd

diamonds_df_exercise = sns.load_dataset("diamonds") # Load the diamonds dataset from seaborn
# Write a function to determine whether a record, x, is desired or not

def is_desired(x):
    bool_var = 'Yes' if (x['cut'] == 'ideal' and x['color'] == 'D') else 'No'
    return bool_var

diamonds_df_exercise['desired'] = diamonds_df_exercise.apply(is_desired, axis=1) # A new column 'desired' is created in the dataframe. Apply the function to each row of the dataframe
diamonds_df_exercise.head() # Display the first 5 rows of the dataframe

   carat      cut color clarity  depth  table  price     x     y     z desired
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43      No
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31      No
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31      No
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63      No
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75      No

In [21]:
import seaborn as sns
import pandas as pd
import numpy as np

diamonds_df = sns.load_dataset("diamonds") # Load the diamonds dataset from seaborn