In [29]:
# Load the pandas library
import pandas as pd
import seaborn as sns
import numpy as np

In [30]:
# Dataset URL  
diamonds_url = "https://raw.githubusercontent.com/TrainingByPackt/Interactive-Data-Visualization-with-Python/master/datasets/diamonds.csv"

In [31]:
# Reading the dataset
diamonds_df = pd.read_csv(diamonds_url)
diamonds_df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [32]:
diamonds_df.cut.unique() # unique values in cut column

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [33]:
diamonds_df.cut.value_counts() # count of each unique value in cut column

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [34]:
diamonds_df.color.unique() # unique values in color column

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [35]:
diamonds_df.clarity.unique() # unique values in clarity column

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [36]:
diamonds_df.shape # shape of the dataframe (rows, columns) = (53940, 10)

(53940, 10)

In [37]:
diamonds_df_specific_cols = pd.read_csv(diamonds_url, usecols=['carat','cut','color','clarity'])

In [38]:
diamonds_df.describe() # summary statistics of the dataframe

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [39]:
diamonds_df.describe(include=object) # summary statistics for categorical (object) columns

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [40]:
diamonds_df.info() # information about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [41]:
diamonds_low_df = diamonds_df.loc[diamonds_df['cut'] == 'Ideal'] # filter rows where cut is 'Ideal'(Case sensitive).  We obtain indices of rows that meet this criterion.
diamonds_low_df.head() # display the first 5 rows of the filtered dataframe

    carat    cut color clarity  depth  table  price     x     y     z
0    0.23  Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
11   0.23  Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
13   0.31  Ideal     J     SI2   62.2   54.0    344  4.35  4.37  2.71
16   0.30  Ideal     I     SI2   62.0   54.0    348  4.31  4.34  2.68
39   0.33  Ideal     I     SI2   61.8   55.0    403  4.49  4.51  2.78

In [42]:
# Ex. 3 Adding New Columsn to the DataFrame
diamonds_df['price_per_carat'] = diamonds_df['price'] / diamonds_df['carat'] # Adding a new column to the dataframe
diamonds_df.head() # Display the first 5 rows of the dataframe

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1417.391304
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,1552.380952
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,1421.739130
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,1151.724138
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1080.645161

In [ ]:
# Adding a new column to the dataframe based on a condition:
# Add a column based on the value in price_per_carat,
# say anything more than 3500 as high (coded as # 1)
# and anything less than 3500 as low (coded as 0).

diamonds_df['price_category'] = np.where(diamonds_df['price_per_carat'] > 3500, 1, 0) 
diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_category,rounded_price,rounded_price_to_100Multiple
0,0.23,Ideal,E,SI2,61.5,55.0,423.8,3.95,3.98,2.43,1417.391304,0,424,500
1,0.21,Premium,E,SI1,59.8,61.0,423.8,3.89,3.84,2.31,1552.380952,0,424,500
2,0.23,Good,E,VS1,56.9,65.0,425.1,4.05,4.07,2.31,1421.739130,0,426,500
3,0.29,Premium,I,VS2,62.4,58.0,434.2,4.20,4.23,2.63,1151.724138,0,435,500
4,0.31,Good,J,SI2,63.3,58.0,435.5,4.34,4.35,2.75,1080.645161,0,436,500
5,0.24,Very Good,J,VVS2,62.8,57.0,436.8,3.94,3.96,2.48,1400.000000,0,437,500
6,0.24,Very Good,I,VVS1,62.3,57.0,436.8,3.95,3.98,2.47,1400.000000,0,437,500
7,0.26,Very Good,H,SI1,61.9,55.0,438.1,4.07,4.11,2.53,1296.153846,0,439,500
8,0.22,Fair,E,VS2,65.1,61.0,438.1,3.87,3.78,2.49,1531.818182,0,439,500
9,0.23,Very Good,H,VS1,59.4,61.0,439.4,4.00,4.05,2.39,1469.565217,0,440,500
10,0.30,Good,J,SI1,64.0,55.0,440.7,4.25,4.28,2.73,1130.000000,0,441,500
11,0.23,Ideal,J,VS1,62.8,56.0,442.0,3.93,3.90,2.46,1478.260870,0,442,500
12,0.22,Premium,F,SI1,60.4,61.0,444.6,3.88,3.84,2.33,1554.545455,0,445,500
13,0.31,Ideal,J,SI2,62.2,54.0,447.2,4.35,4.37,2.71,1109.677419,0,448,500
14,0.20,Premium,E,SI2,60.2,62.0,448.5,3.79,3.75,2.27,1725.000000,0,449,500
15,0.32,Premium,E,I1,60.9,58.0,448.5,4.38,4.42,2.68,1078.125000,0,449,500
16,0.30,Ideal,I,SI2,62.0,54.0,452.4,4.31,4.34,2.68,1160.000000,0,453,500
17,0.30,Good,J,SI1,63.4,54.0,456.3,4.23,4.29,2.70,1170.000000,0,457,500
18,0.30,Good,J,SI1,63.8,56.0,456.3,4.23,4.26,2.71,1170.000000,0,457,500
19,0.30,Very Good,J,SI1,62.7,59.0,456.3,4.21,4.27,2.66,1170.000000,0,457,500
20,0.30,Good,I,SI2,63.3,56.0,456.3,4.26,4.30,2.71,1170.000000,0,457,500
21,0.23,Very Good,E,VS2,63.8,55.0,457.6,3.85,3.92,2.48,1530.434783,0,458,500
22,0.23,Very Good,H,VS1,61.0,57.0,458.9,3.94,3.96,2.41,1534.782609,0,459,500
23,0.31,Very Good,J,SI1,59.4,62.0,458.9,4.39,4.43,2.62,1138.709677,0,459,500
24,0.31,Very Good,J,SI1,58.1,62.0,458.9,4.44,4.47,2.59,1138.709677,0,459,500
25,0.23,Very Good,G,VVS2,60.4,58.0,460.2,3.97,4.01,2.41,1539.130435,0,461,500
26,0.24,Premium,I,VS1,62.5,57.0,461.5,3.97,3.94,2.47,1479.166667,0,462,500
27,0.30,Very Good,J,VS2,62.2,57.0,464.1,4.28,4.30,2.67,1190.000000,0,465,500
28,0.23,Very Good,D,VS2,60.5,61.0,464.1,3.96,3.97,2.40,1552.173913,0,465,500
29,0.23,Very Good,F,VS1,60.9,57.0,464.1,3.96,3.99,2.42,1552.173913,0,465,500
30,0.23,Very Good,F,VS1,60.0,57.0,522.6,4.00,4.03,2.41,1747.826087,0,523,600
31,0.23,Very Good,F,VS1,59.8,57.0,522.6,4.04,4.06,2.42,1747.826087,0,523,600
32,0.23,Very Good,E,VS1,60.7,59.0,522.6,3.97,4.01,2.42,1747.826087,0,523,600
33,0.23,Very Good,E,VS1,59.5,58.0,522.6,4.01,4.06,2.40,1747.826087,0,523,600
34,0.23,Very Good,D,VS1,61.9,58.0,522.6,3.92,3.96,2.44,1747.826087,0,523,600
35,0.23,Good,F,VS1,58.2,59.0,522.6,4.06,4.08,2.37,1747.826087,0,523,600
36,0.23,Good,E,VS1,64.1,59.0,522.6,3.83,3.85,2.46,1747.826087,0,523,600
37,0.31,Good,H,SI1,64.0,54.0,522.6,4.29,4.31,2.75,1296.774194,0,523,600
38,0.26,Very Good,D,VS2,60.8,59.0,523.9,4.13,4.16,2.52,1550.000000,0,524,600
39,0.33,Ideal,I,SI2,61.8,55.0,523.9,4.49,4.51,2.78,1221.212121,0,524,600
40,0.33,Ideal,I,SI2,61.2,56.0,523.9,4.49,4.50,2.75,1221.212121,0,524,600
41,0.33,Ideal,J,SI1,61.1,56.0,523.9,4.49,4.55,2.76,1221.212121,0,524,600
42,0.26,Good,D,VS2,65.2,56.0,523.9,3.99,4.02,2.61,1550.000000,0,524,600
43,0.26,Good,D,VS1,58.4,63.0,523.9,4.19,4.24,2.46,1550.000000,0,524,600
44,0.32,Good,H,SI2,63.1,56.0,523.9,4.34,4.37,2.75,1259.375000,0,524,600
45,0.29,Premium,F,SI1,62.4,58.0,523.9,4.24,4.26,2.65,1389.655172,0,524,600
46,0.32,Very Good,H,SI2,61.8,55.0,523.9,4.35,4.42,2.71,1259.375000,0,524,600
47,0.32,Good,H,SI2,63.8,56.0,523.9,4.36,4.38,2.79,1259.375000,0,524,600
48,0.25,Very Good,E,VS2,63.3,60.0,525.2,4.00,4.03,2.54,1616.000000,0,526,600
49,0.29,Very Good,H,SI2,60.7,60.0,525.2,4.33,4.37,2.64,1393.103448,0,526,600

##### Applying Functions on DataFrame Columns

In [55]:
diamonds_df['price'] = diamonds_df['price'] * 1.3 # Increase the price of each diamond by 30%
diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_category,rounded_price,rounded_price_to_100Multiple
0,0.23,Ideal,E,SI2,61.5,55.0,550.94,3.95,3.98,2.43,1417.391304,0,424,500
1,0.21,Premium,E,SI1,59.8,61.0,550.94,3.89,3.84,2.31,1552.380952,0,424,500
2,0.23,Good,E,VS1,56.9,65.0,552.63,4.05,4.07,2.31,1421.739130,0,426,500
3,0.29,Premium,I,VS2,62.4,58.0,564.46,4.20,4.23,2.63,1151.724138,0,435,500
4,0.31,Good,J,SI2,63.3,58.0,566.15,4.34,4.35,2.75,1080.645161,0,436,500

In [56]:
import math
diamonds_df['rounded_price'] = diamonds_df['price'].apply(math.ceil) # Round the price to the nearest hundred
diamonds_df.head(10)

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_category,rounded_price,rounded_price_to_100Multiple
0,0.23,Ideal,E,SI2,61.5,55.0,550.94,3.95,3.98,2.43,1417.391304,0,551,500
1,0.21,Premium,E,SI1,59.8,61.0,550.94,3.89,3.84,2.31,1552.380952,0,551,500
2,0.23,Good,E,VS1,56.9,65.0,552.63,4.05,4.07,2.31,1421.739130,0,553,500
3,0.29,Premium,I,VS2,62.4,58.0,564.46,4.20,4.23,2.63,1151.724138,0,565,500
4,0.31,Good,J,SI2,63.3,58.0,566.15,4.34,4.35,2.75,1080.645161,0,567,500
5,0.24,Very Good,J,VVS2,62.8,57.0,567.84,3.94,3.96,2.48,1400.000000,0,568,500
6,0.24,Very Good,I,VVS1,62.3,57.0,567.84,3.95,3.98,2.47,1400.000000,0,568,500
7,0.26,Very Good,H,SI1,61.9,55.0,569.53,4.07,4.11,2.53,1296.153846,0,570,500
8,0.22,Fair,E,VS2,65.1,61.0,569.53,3.87,3.78,2.49,1531.818182,0,570,500
9,0.23,Very Good,H,VS1,59.4,61.0,571.22,4.00,4.05,2.39,1469.565217,0,572,500

In [57]:
import math
diamonds_df['rounded_price_to_100Multiple'] = diamonds_df['price'].apply(lambda x: math.ceil(x/100)*100) # Round the price to the nearest multiple of 100. Lambad Function
diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_category,rounded_price,rounded_price_to_100Multiple
0,0.23,Ideal,E,SI2,61.5,55.0,550.94,3.95,3.98,2.43,1417.391304,0,551,600
1,0.21,Premium,E,SI1,59.8,61.0,550.94,3.89,3.84,2.31,1552.380952,0,551,600
2,0.23,Good,E,VS1,56.9,65.0,552.63,4.05,4.07,2.31,1421.739130,0,553,600
3,0.29,Premium,I,VS2,62.4,58.0,564.46,4.20,4.23,2.63,1151.724138,0,565,600
4,0.31,Good,J,SI2,63.3,58.0,566.15,4.34,4.35,2.75,1080.645161,0,567,600

In [58]:
# User Defined Function to round the price to the nearest multiple of 100
import math

def round_up_to_nearest_100(x):
    return math.ceil(x / 100) * 100

diamonds_df['rounded_price_to_100Multiple'] = diamonds_df['price'].apply(round_up_to_nearest_100)

diamonds_df.head()

,carat,cut,color,clarity,depth,table,price,x,y,z,price_per_carat,price_category,rounded_price,rounded_price_to_100Multiple
0,0.23,Ideal,E,SI2,61.5,55.0,550.94,3.95,3.98,2.43,1417.391304,0,551,600
1,0.21,Premium,E,SI1,59.8,61.0,550.94,3.89,3.84,2.31,1552.380952,0,551,600
2,0.23,Good,E,VS1,56.9,65.0,552.63,4.05,4.07,2.31,1421.739130,0,553,600
3,0.29,Premium,I,VS2,62.4,58.0,564.46,4.20,4.23,2.63,1151.724138,0,565,600
4,0.31,Good,J,SI2,63.3,58.0,566.15,4.34,4.35,2.75,1080.645161,0,567,600

In [59]:
# Suppose we are interested in buying diamonds that have an Ideal cut and a color 
# of D (entirely colorless). This exercise is for adding a new column, desired to the 
# DataFrame, whose value will be yes if our criteria are satisfied and no if not satisfied. 

import seaborn as sns
import pandas as pd

diamonds_df_exercise = sns.load_dataset("diamonds") # Load the diamonds dataset from seaborn
# Write a function to determine whether a record, x, is desired or not

def is_desired(x):
    bool_var = 'Yes' if (x['cut'] == 'ideal' and x['color'] == 'D') else 'No'
    return bool_var

diamonds_df_exercise['desired'] = diamonds_df_exercise.apply(is_desired, axis=1) # A new column 'desired' is created in the dataframe. Apply the function to each row of the dataframe
diamonds_df_exercise.head() # Display the first 5 rows of the dataframe

   carat      cut color clarity  depth  table  price     x     y     z desired
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43      No
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31      No
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31      No
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63      No
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75      No