In [18]:
# Load the pandas library
import pandas as pd
import seaborn as sns

In [19]:
# Dataset URL  
diamonds_url = "https://raw.githubusercontent.com/TrainingByPackt/Interactive-Data-Visualization-with-Python/master/datasets/diamonds.csv"

In [20]:
# Reading the dataset
diamonds_df = pd.read_csv(diamonds_url)
diamonds_df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [21]:
diamonds_df.cut.unique() # unique values in cut column

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [22]:
diamonds_df.cut.value_counts() # count of each unique value in cut column

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

In [23]:
diamonds_df.color.unique() # unique values in color column

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [24]:
diamonds_df.clarity.unique() # unique values in clarity column

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'],
      dtype=object)

In [25]:
diamonds_df.shape # shape of the dataframe (rows, columns) = (53940, 10)

(53940, 10)

In [28]:
diamonds_df_specific_cols = pd.read_csv(diamonds_url, usecols=['carat','cut','color','clarity'])

In [33]:
diamonds_df.describe() # summary statistics of the dataframe

              carat
count  53940.000000
mean       0.797940
std        0.474011
min        0.200000
25%        0.400000
50%        0.700000
75%        1.040000
max        5.010000

In [34]:
diamonds_df.describe(include=object) # summary statistics of the dataframe

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

In [36]:
diamonds_df.info() # information about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.6+ MB